DJANGO_SECRET_KEY="7_d3wfrweh&mnnn8-cvm7@2-yo%_nm%7vp+-1+gtjp(7rwp*zg"
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=yourusername.pythonanywhere.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://yourusername.pythonanywhere.com

superuser - 
name - Manager1
pass- Mgr@12345